################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/env  
/page_content.txt
data/ 
tmp_image.png
